### MacOS
.DS_Store

### Maven / Source
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
.flattened-pom.xml 
bin/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.code-workspace

### DBeaver ###
.dbeaver/
.dbeaver-data-sources.xml

### User defined application properties/data initializer ###
application-user-*.properties
data-user-*.sql
